{% extends 'powercool_app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %}
    Our Team
    {% endblock %}
  </title>
</head>
{% block content %}

<body>
  <!-- <div class="wrap"> -->
  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Team</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p></p>
        </div>

        <div class="row">
          {% if team %}
          {% for t in team %}
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mb-2">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{{t.picture.url}}" class="img-fluid" alt="{{ t.name }}">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ t.name }}</h4>
                <span>{{ t.job_title }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <section class="bg-light">
      <h3 style="text-align: center;font-weight: bold;color: navy;" class="mt-1 mb-5">Gallery</h3>
      <div class="container">
        <div class="row d-flex">
          {% if media %}
          {% for m in media %}
          <div class="col-sm-4 col-md-4 d-flex ftco-animate" data-aos="zoom-in">
            <div class="blog-entry align-self-stretch">
              <img src="{{ m.media.url }}" style="height: 350px;width: 100%;">
              <h6 style="color: indianred;">{{m.name}}</h6>
            </div>
          </div>
          {% endfor %}
          {% endif %}

        </div>
      </div>
    </section>



  </main>
</body>

</html>
{% endblock %}